<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>elemon test - second window</title>
  </head>
  <body>
    <h1>elemon test - second window</h1>
    it is the second window.
    <button id="test-btn">test button</button>
  </body>
	<script>require('./secwin-controller.js')</script>
</html>

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file

test text appended to second window file
