<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>elemon test - main window</title>
  </head>
  <body>
    <h1>elemon test - main window</h1>
    it is the main window.
    <p>
    node version: <script>document.write(process.versions.node)</script>,
    chromium version: <script>document.write(process.versions.chrome)</script>,
    electron version: <script>document.write(process.versions.electron)</script>.
  	</p>
  </body>
</html>


test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file

test text appended to main window file
